<header>
    <!-- <nav class="navbar" role="navigation">
        <div id="navbar-main">
            <h1 id="nav-title">Garage App</h1>
            <i class="fa-solid fa-bars fa-2xl hamburger-menu"></i>
        </div>
        <div id="nav-links-container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/garage">Car Collection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/garage/new">Add Car</a>
                </li>
            </ul>
        </div>
    </nav> -->
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
        <a id="nav-title" class="navbar-brand" href="/garage">Garage App</a>
        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto mt-lg-0 text-right">
            <li id="nav-collection" class="nav-item">
              <a class="nav-link" href="/garage">Car Collection <span class="sr-only">(current)</span></a>
            </li>
            <li id="nav-add" class="nav-item">
              <a class="nav-link" href="/garage/new">Add Car</a>
            </li>
          </ul>
        </div>
    </nav>
</header>