<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Collection</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <div id="new-car">
        <h1>Add car to collection</h1>
        <a href="/garage">Back to collection</a>
        <form action="/garage" method="POST">
            <label for="img">Paste Image Link:</label>
            <input type="text" name="img">
            <label for="year">Year:</label>
            <input type="number" name="year" min="1">
            <label for="make">Make:</label>
            <input type="text" name="make">
            <label for="model">Model:</label>
            <input type="text" name="model">
            <label for="color">Color:</label>
            <input type="text" name="color">
            <label for="mileage">Mileage:</label>
            <input type="number" name="mileage" min="1">
            <label for="value">Value:</label>
            <input type="number" name="value" min="1">
            <label for="specs">Specs</label>
            <input type="text" name="specs">
            <input type="submit" value="Add new car">
        </form>
    </div>
</body>
</html>