<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
</head>
<body>
    <div id="new-car">
        <h1>Add car to collection</h1>
        <a href="/garage">Back to collection</a>
        <form action="/garage" method="POST">
            <label for="img">Paste Image Link:</label>
            <input type="text" name="img">
            <label for="year">Year:</label>
            <input type="number" name="year" min="1">
            <label for="make">Make:</label>
            <input type="text" name="make">
            <label for="model">Model:</label>
            <input type="text" name="model">
            <label for="color">Color:</label>
            <input type="text" name="color">
            <label for="mileage">Mileage:</label>
            <input type="number" name="mileage" min="1">
            <label for="value">Value:</label>
            <input type="number" name="value" min="1">
            <label for="specs">Specs</label>
            <input type="text" name="specs">
            <input type="submit" value="Add new car">
        </form>
    </div>
</body>
</html>