/* css color vars */
:root {
    --main-red-color: #BA3636;
}

* {
    margin: 0;
}
.navbar #nav-title {
    color: var(--main-red-color);
}
#cars-container .car-item {
    border: 2px solid black;
}

#new-car form {
    display: flex;
    flex-direction: column;
    width: 200px;
}