#update-car #update-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: lightgray;
    justify-content: space-between;
    padding: 1em;
}
#update-car #update-header h1 {
    color: black;
    font-size: 1.5em;
}
#update-car .garage-btn a {
    color: var(--main-red-color);
}
#update-car .form-control {
    border: 1px solid var(--main-red-color);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
@media (min-width: 992px) {
    #update-car img.card-img-top {
        width: 50%;
        object-fit: contain;
    }
}